{% extends 'base.html.twig' %}

{% block title %}Hello AffichageSortieController!{% endblock %}

{% block body %}
    <form>
        <h3>Filtrer les sorties</h3>
     <div>
         <label>Site: </label>
        <select>
             <option></option>
        </select><br>
         <label>Le nom de la sortie contient: </label>
         <input type="search" aria-label="Search through site content"><br>
     </div>
     <div>
        <label>Entre </label>
        <input type="date">
        <label> et </label>
        <input type="date"><br>
     </div>
    <div>
        <input type="checkbox" id="sortie_organisateur" value="sortie_organisateur">
        <label for="sortie_organisateur">Sorties dont je suis l'organisateur/trice</label><br>

        <input type="checkbox" id="sortie_inscrit" value="sortie_inscrit">
        <label for="sortie_inscrit">Sorties auxquelles je suis inscrit/e</label><br>

        <input type="checkbox" id="non_inscrit" value="non_inscrit">
        <label for="non_inscrit">Sorties auxquelles je ne suis pas inscrit/e</label><br>

        <input type="checkbox" id="sortie_passe" value="sortie_passee">
        <label for="sortie_passe">Sorties passées</label><br>
        <button type="submit"> Rechercher</button>
    </div>
    <table  style="width: 100%"  border="1">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th> inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
        </tr>
    </table>
        <input type="submit" value="Créer une sortie">
    </form>

{% endblock %}
