
* {
    font-family: Arial, sans-serif;
    font-size: medium;
}

/*.core > a {
    color: #1DC9FF;
}*/
.nav-item > a {
    color:white;
}
a:hover {
    color: #ffcc00 ;
}

.background-image{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    filter: brightness(80%);

}
.col-checkbox{
    margin-left: 3em;
}

.col-rechercher{
    margin-left: 2.5em;
}

.container-table-accueil{
    width: 500em;
}
.content{
    color: black;
    font-family: "Roboto Light";
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;

}
/*body {
    color: black;
    font-family: "Roboto Light";
    justify-content: center;
    z-index: 1;
    background-image: url("../bootstrap/photosslide/orange_fond3.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: radial-gradient(circle, #ff9b00, #e28005, #c56706, #a74f06, #893904);
}*/

.form-accueil{
    margin-left: 2em;
}
footer {
    justify-content: center;
}

.categorie {
    text-align: right;
}

.categorie, .select {
    width: 27em;
}

div.categoryName, li {
    list-style: none;
}

.carousel-item img {
    max-height: 10em;
}

.core {
    border: 1px;
    box-shadow: 0em 0em 2em 0.1em black;
    padding-bottom: 1em;
    background-color: #222222;
    color:white;
    margin-top: 8em;
    width: 50em;
    margin-bottom: 3em;
    filter:opacity(90%);
    width: auto;
}

.custom-select {
    position: relative;
    font-family: Arial;
    margin-top: 3em;
    margin-bottom: 3em;
}

.custom-select select {
    display: none;
}

.containerFooter {

    padding-bottom: 1em;
    color: white;
    margin-top: 3em;
    width: 50em;
    margin-bottom: 3em;
}

.image-nav {
    max-height: 5em;
    max-width: 24em
}

input {
    border-radius: 0.5em;
}


.login {
    text-align: -webkit-left;
}

main {
    margin-top: 3em;
}

.message-alert {
    float: top;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: black;
    color: white;
    filter:opacity(89%);
}

p {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
}

.panel-body {
    padding-top: 1em;
}

section {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.row-table-accueil{
    margin-top: 0.5em;
}
section h1 {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}

.table-accueil{
    width: 100%;
    height: 20em;
    display:block;
    overflow: scroll;

}

td {
    padding: 0.6em;
}
/*thead{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}*/

hgroup {
    text-align: center;
}

