
* {
    font-family: Arial, sans-serif;
    font-size: medium;
}

td > a {
    color: #ffcc00;
}

a:hover {
    color: #1DC9FF;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    filter: brightness(80%);

}

.btn-ajouter-lieu {
    background-color: #ff6224;
    padding: 0.5em;
    border: none;
    color: white
}

.btn-ajouter-lieu:hover, .btn-modifier-lieu:hover, .btn-modifier-detail-sortie:hover {
    color: white;
    border: 1px solid #ff6224;
    background-color: #222222;
}


.btn-annuler-sortie, .btn-annuler-modif-profil, .btn-annuler-modif-mdp, .btn-supprimer-modif-sortie,
.btn-retour-sortie-motif, .btn-annuler-ajout-lieu-detail {
    background-color: #ff1708;
    padding: 0.5em;
    border: none;
    color: white;
    margin-left: 0.5em;
}

.btn-annuler-sortie:hover, .btn-annuler-modif-profil:hover,
.btn-annuler-modif-mdp:hover, .btn-supprimer-modif-sortie:hover,
.btn-retour-sortie-motif:hover, .btn-annuler-ajout-lieu-detail:hover {
    color: white;
    border: 1px solid #ff1708;
    background-color: #222222;
}

.btn-changer-mdp {
    padding: 0.5em;
    border: none;
    color: white;
    margin-right: 0.5em;
    background-color: #1c7430;
    text-align: center;
}

.btn-creer-sortie {
    padding: 0.5em;
}

.btn-desinscrire-sinscrire-detail-sortie-placement{

}


.btn-enregistrer-modif-profil, .btn-enregistrer-modif-mdp {
    padding: 0.5em;
    border-radius: 0.4em;
    color: white;
    margin-right: 0.5em;
}

.btn-enregistrer-modif-profil:hover, .btn-enregistrer-modif-mdp:hover, .btn-creer-sortie:hover {
    color: white;
    border: 1px solid #005cbf;
    background-color: #222222;
    padding: 0.7em;
    filter: opacity(90%);
}

.btn-enregistrer-sortie, .btn-enregistrer-modif-sortie {
    padding: 0.5em;
    border: none;
    color: white;
    margin-right: 0.5em;
    background-color: #1c7430;
}

.btn-enregistrer-sortie:hover, .btn-changer-mdp:hover, .btn-enregistrer-modif-sortie:hover {
    color: white;
    border: 1px solid #1c7430;
    background-color: #222222;
}

.btn-modifier-lieu, .btn-modifier-detail-sortie {
    background-color: #ff6224;
    padding: 0.5em;
    border: none;
    color: white;
    margin-top: 0.5em;
}

.btn-publier-sortie, .btn-annuler-la-sortie-motif, .btn-ajouter-lieu-detail, .btn-desinscrire-sinscrire-detail-sortie {
    padding: 0.5em;
    border: none;
    color: white;
    margin-right: 0.5em;
}

.btn-publier-sortie:hover, .btn-publier-modif-sortie:hover, .btn-annuler-la-sortie-motif:hover,
.btn-ajouter-lieu-detail:hover, .btn-desinscrire-sinscrire-detail-sortie:hover {
    color: white;
    border: 1px solid #005cbf;
    background-color: #222222;
}

.btn-publier-modif-sortie {
    padding: 0.5em;
    border: none;
    color: white;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.carousel-item img {
    max-height: 10em;
}

.categorie {
    text-align: right;
}

.categorie, .select {
    width: 27em;
}

.col-checkbox {
    margin-left: 3em;
}

.col-rechercher {
    margin-left: 2.5em;
}

.container-login {
    height: 100%
}

.containerFooter {

    padding-bottom: 1em;
    color: white;
    margin-top: 3em;
    width: 50em;
    margin-bottom: 3em;
}

.container-table-accueil {
    width: 500em;
}

.content {
    color: black;
    font-family: "Roboto Light";
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;

}

.core {
    border: 1px;
    box-shadow: 0em 0em 2em 0.1em black;
    padding-bottom: 1em;
    background-color: #222222;
    color: white;
    margin-top: 8em;
    width: 50em;
    margin-bottom: 3em;
    filter: opacity(90%);
    width: auto;
}

.custom-select {
    position: relative;
    font-family: Arial;
    margin-top: 3em;
    margin-bottom: 3em;
}

.custom-select select {
    display: none;
}

.div-btn-creer-sortie {
    border-radius: 0.2em;
    margin-left: 3.4em;
    margin-top: 0.6em;

}

div.categoryName, li {
    list-style: none;
}

.div-container-detail {
    margin-top: 0.4em
}

.div-container-detail-child {
    padding-right: 1em;
}

.div-btn-detail-sortie{
    padding-top: 7em;
    justify-content: center;
    display: inline-block;
    text-align: justify;
}
.div-table-accueil th {
    position: sticky;
    z-index: 3;
    top: 0;
    filter: opacity(100%);
}

footer {
    justify-content: center;
}

.form-accueil {
    margin-left: 2em;
}

.image-detail-sortie, .image-detail-annule, .image-detail-default {
    display: block;
    width: auto;
    height: auto;
    max-width: 20em;
    max-height: 20em;
   padding-right: 2em;
}

.image-photo-profil-user{
    display: block;
    width: auto;
    height: auto;
    max-width: 14em;
    max-height: 14em;
    margin-bottom: 1em
}
.image-nav {
    max-height: 5em;
    max-width: 24em
}

input {
    border-radius: 0.5em;
}


.login {
    text-align: -webkit-left;
}

login-img {
    width: 100%;
}

main {
    margin-top: 3em;
}

.message-alert {
    float: top;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: black;
    color: white;
    filter: opacity(89%);
}

.nav-item > a {
    color: #ffcc00
}

.nav-item > a:hover {
    color: #1DC9FF;
}

.navbar-toggler-icon {
    color: #ffcc00;
}

p {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
}

.panel-body {
    padding-top: 1em;
}

.row-table-accueil {
    margin-top: 0.5em;
}

section {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

section h1 {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}

.table-accueil {
    width: auto;
    height: 20em;
    display: block;
    overflow: scroll;
    border-collapse: separate;
    border-spacing: 0;
}

tbody {
    height: 10em;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
}

td {
    padding: 0.6em;
}

.table-detail-sortie {
    width: auto;
    height: 10em;
    display: block;
    overflow: scroll;
}

th {
    background-color: black;
}

/*thead{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}*/

hgroup {
    text-align: center;
}

